<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Jaciel Gutierrez</h2>
            <h4>jaciel@unitec.edu</h4>
        </div>
        <img mat-card-image src="../../../../assets/images/man-in-black-jacket.jpg" alt="Photo of a Jaciel">
    </div>
    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/sections">Sections</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Another Page</a>
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>import_contacts</mat-icon>
        Tool 1
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>contact_phone</mat-icon>
        Tool 2
    </a>

</mat-nav-list>